<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>The Italian Tourist</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
  </head>
  <body>
    <h1>
      The Italian Tourist
    </h1>
    <h2>
        Submit your favorite city!
    </h2>
    <form method="post" action="/submit">
        <p>City Name: <input type="text" name="city"></p>
        <p>City Attraction: <input type="text" name="attraction"></p>
        <p>GIF URL: <input type="text" name="gif"></p>
        <p><input type="submit"></p>
    </form>

  </body>
</html>
